{% trans_default_domain "global" %}
<ul class="button-bar switch-calendar-view">
    <li><a href="month" class="month changeView dark active"><i class="fa fa-calendar"></i> {{ 'string.month'|trans }}</a></li>
    <li><a href="agendaWeek" class="week changeView dark"><i class="fa fa-calendar"></i> {{ 'string.week'|trans }}</a></li>
    <li><a href="agendaDay" class="day changeView dark"><i class="fa fa-calendar"></i> {{ 'string.day'|trans }}</a></li>
</ul>