<ul id="notification-area" class="notifications">
    <li class="titlebar">
        <span class="title">Bildirimler</span>
        <span class="settings"><i class="fa fa-cog"></i></span>
    </li>
    <div id="style-5" class="notifbox">
        <li class="notif empty-notif">
            <a>
                <i class="fa fa-bell-slash-o"></i>
            </a>
        </li>
    </div>
    <li class="seeall">
        <a href="#">Tümünü Gör</a>
    </li>
</ul>